# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Precisamos pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [1]:
# Comando para instalar o selenium 
# !pip install selenium

In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

# para rodar o chrome em 2º plano
# from selenium.webdriver.chrome.options import Options
# chrome_options = Options()
# chrome_options.headless = True 
# navegador = webdriver.Chrome(options=chrome_options)

# abrir um navegador
navegador = webdriver.Chrome("chromedriver.exe")

# entrar no site do google
navegador.get("https://www.google.com/")

# Passo 1: Pegar a cotação do Dólar
# escrever cotação dolar na barra de pesquisa
navegador.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação dólar")

# apertar enter
navegador.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_dolar = navegador.find_element_by_xpath(
    '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value") 
print(cotacao_dolar)

# Passo 2: Pegar a cotação do Euro
navegador.get("https://www.google.com/")
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro")
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_euro = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(cotacao_euro)

# Passo 3: Pegar a cotação do Ouro
navegador.get("https://www.melhorcambio.com/ouro-hoje")

cotacao_ouro = navegador.find_element_by_xpath('//*[@id="comercial"]').get_attribute("value")
cotacao_ouro = cotacao_ouro.replace(",", ".")
print(cotacao_ouro)

navegador.quit()

<ipython-input-2-d89ddf132400>:11: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  navegador = webdriver.Chrome("chromedriver.exe")
<ipython-input-2-d89ddf132400>:18: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  navegador.find_element_by_xpath(
<ipython-input-2-d89ddf132400>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  navegador.find_element_by_xpath(
<ipython-input-2-d89ddf132400>:25: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cotacao_dolar = navegador.find_element_by_xpath(

5.4597

<ipython-input-2-d89ddf132400>:31: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro")
<ipython-input-2-d89ddf132400>:32: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
<ipython-input-2-d89ddf132400>:34: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cotacao_euro = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")

6.333252000000001

<ipython-input-2-d89ddf132400>:40: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cotacao_ouro = navegador.find_element_by_xpath('//*[@id="comercial"]').get_attribute("value")

310.56

### Agora vamos atualizar a nossa base de preços com as novas cotações

- Importando a base de dados

In [3]:
# Passo 4: Importar a lista de produtos
import pandas as pd

df = pd.read_excel("Produtos.xlsx")
display(df)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

- Atualizando os preços e o cálculo do Preço Final

In [4]:
# Passo 5: Recalcular o preço de cada produto
# atualizar a cotação
# nas linhas onde na coluna "Moeda" = Dólar
df.loc[df["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar)
df.loc[df["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)
df.loc[df["Moeda"] == "Ouro", "Cotação"] = float(cotacao_ouro)

# atualizar o preço base reais (preço base original * cotação)
df["Preço de Compra"] = df["Preço Base Original"] * df["Cotação"]

# atualizar o preço final (preço base reais * Margem)
df["Preço de Venda"] = df["Preço de Compra"] * df["Margem"]

# df["Preço de Venda"] = df["Preço de Venda"].map("R${:.2f}".format)

display(df)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final,Preço de Compra,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.459700,4999.95,1.40,6999.930,5459.645403,7643.503564
1,Carro Renault,4500.00,Euro,6.333252,27000.00,2.00,54000.000,28499.634000,56999.268000
2,Notebook Dell,899.99,Dólar,5.459700,4499.95,1.70,7649.915,4913.675403,8353.248185
3,IPhone,799.00,Dólar,5.459700,3995.00,1.70,6791.500,4362.300300,7415.910510
4,Carro Fiat,3000.00,Euro,6.333252,18000.00,1.90,34200.000,18999.756000,36099.536400
5,Celular Xiaomi,480.48,Dólar,5.459700,2402.40,2.00,4804.800,2623.276656,5246.553312
6,Joia 20g,20.00,Ouro,310.560000,7000.00,1.15,8050.000,6211.200000,7142.880000

### Agora vamos exportar a nova base de preços atualizada

In [5]:
# Passo 6: Salvar os novos preços dos produtos
df.to_excel("Produtos Novo.xlsx", index=False)

In [6]:
# Fechar navegador
navegador.quit()